<div class="editingarea">
    <div class="c_flex"><span class="c_flexible"></span></div>
    <div class="c_editview">
        <div class="c_condition">
            <span><select><option>题干</option></select></span>
            <span class="pl5 " ><input type="text"></span>
            <span class="pl15 pr15 btn_gray ">查找</span>
            <span class="icon_lead-in"><em class="icon_r">批量导入题目</em></span>
            <span class="icon_add" ng-click="add()"><em class="icon_r"  >单个添加题目</em></span>
        </div>
        <div class="divtable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablea">

                <tr >
                    <td align="center" style="width:50px;">题型</td>
                    <td align="left" >
                        <div class="chose" ><a href="" class="active3">全部</a>
                            <a href="#/allSubject/a/{{tts.id}}/b/0/c/0/d/0" ng-repeat="tts in Type">
                                {{tts.realName}}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td align="center">方向</td>
                    <td align="left" >
                        <div class="chose" ><a href="" class="active3">全部</a>
                            <a href="" ng-repeat="dep in Department">{{dep.name}}</a>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td align="center">知识点</td>
                    <td align="left" >
                        <div class="chose" ><a href="" class="active3">全部</a>
                            <a href="" ng-repeat="to in Topics">{{to.title}}</a>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td align="center">难度</td>
                    <td align="left" >
                        <div class="chose" ><a href="" class="active3">全部</a>
                            <a href="" ng-repeat="le in Level">{{le.realName}}</a>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="Catalog">
            <div class="Catalog_right">
                <div class="Catalogtitle">总计<em>15552</em>道题&nbsp;&nbsp;提示：单击体面可显示答案和解析&nbsp;&nbsp;<input type="checkbox" ng-model="isShow" /><b>显示答案和解析</b>&nbsp;&nbsp;<div><a href="#" class="Thispage2">本页全部审核通过</a><i>1</i><a href="#" class="pageone">前</a><a href="#" class="pagetwo">后</a></div></div>
                <div class="Catalog_rightnei" ng-repeat="sub in Subjects">
                    <div class="Catalogtitwo">
                        题号：{{sub.id}}&nbsp;&nbsp;
                        题型：{{sub.subjectType.realName}}&nbsp;&nbsp;
                        难度：{{sub.subjectLevel.realName}}&nbsp;&nbsp;
                        上传人：{{sub.user}}&nbsp;&nbsp;
                        上传时间:{{sub.uploadTime}}&nbsp;&nbsp;
                        <em>0</em>
                    </div>
                    <div class="Catalogcontent">
                        <div class="Catalogcontentup">
                           <!--题干-->
                            {{$index+1}}.{{sub.stem}}
                            <!--选项-->
                            <ul ng-repeat="choice in sub.choices">
                                <li>
                                    <!--{{$index+1==1? "A":($index+1==2?"B":($index+1==3?"C":($index+1==4?"D":"")))}}.*/-->
                                    {{choice.no}}.{{choice.content}}
                                </li>
                            </ul>
                            <!--显示答案-->
                            <b ng-show="isShow">正确答案为：{{sub.answer}}</b>
                        </div>
                        <div class="Catalogcontentdown"><a href="#">审核通过</a><a href="#">审核不通过</a><a href="#">删除题目</a></div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>